*{
    outline:none;
    margin:0
}
body{
    overflow:hidden
}
#webgl-container{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%
}

@media all and (min-width:1025px){
    #AnimdetailDescription{
        position:absolute;
        bottom:0;right:2%;padding:2%;background-color:rgba(0,0,0,0.8); color:white;
        width:20%;word-break:break-all
    }
}
@media all and (max-width:1024px) and (min-width:760px){
    #AnimdetailDescription{
        position:absolute;
        bottom:0;right:2%;padding:2%;background-color:rgba(0,0,0,0.8); color:white;
        width:40%;word-break:break-all
    }
}
@media all and (max-width:759px){
    #AnimdetailDescription{
        position:absolute;
        bottom:0;right:2%;padding:2%;background-color:rgba(0,0,0,0.8); color:white;
        width:65%;word-break:break-all
    }
}
